.outer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: space-between;
}

.header, .sendContainer {
  width: 100%;
  min-height: 10%;
  box-shadow: 0px 0px 5px lightgray;
  padding: 5% 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.topFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 88%;
}

.back {
  all: unset;
  background-image: url('/backArrow2.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  width: 10px;
  padding: 10px;
  align-self: flex-start;
}

.name {
  width: 260px; /* adjust value as needed */
  font-size: 30px; /* initial font size */
  line-height: 1.1; /* adjust value as needed */
  max-height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  & span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.image {
  background-color: #999;
  box-sizing: border-box;
  width: 50px;
  min-height: 50px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
}

.messageContainer {
  box-sizing: border-box;
  // border: 1px solid red;
  height: 100%;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 2% 1%;
  margin-left: 1%;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 4px;
    &:hover {
      background: #555;
    }
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    margin: 5px;
  }
}

.sendContainer {
  background-color: white;
  position: relative;
  bottom: 0;
  z-index: 100;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 0px 8%;
}

.plus {
  all: unset;
  width: 30px;
  height: 30px;
  background-image: url('/plus.svg');
  background-position: center;
  background-size: cover;
}

.type {
  all: unset;
  text-align: left;
  margin-left: 5%;
  width: 85%;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: CircularLight, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  word-wrap: normal;
  overflow-wrap: normal;
  // resize: vertical;
}