.fade-in-left {
  transform: translate(-300px, -300px);
}

.fade-in-right {
  transform: translate(300px, -300px);
}

.fade-in-top {
  transform: translate(0px, -300px);
}

.fade-in-left, .fade-in-right, .fade-in-top {
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  &.fade-in-visible {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

