@import '../styles/variables';

.brand {
  font-family: HalvarBreit, Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15rem;
  gap: 15px;
}

.heading {
  margin-top: 10%;
}

.enterNumber {
  position: relative;
  width: 344px;
  height: 130px;
  left: 15px;
  top: 72px;
}

.enterCode {
  position: relative;
  width: 344px;
  height: 130px;
  left: -7px;
  top: 72px;
}

.enterNumber, .enterCode {
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 111%;
  /* or 44px */

  text-align: center;
  letter-spacing: -0.3px;

  color: black;
}

.blackbtn {
  all: unset;
  color: white;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.6px;
  width: 310px;
  height: 52px;
  background: #242424;
  border-radius: 29px;
  &:hover {
    background-color: rgb(80, 80, 80);
    cursor: pointer;
  }
}

.back {
  all: unset;
  background-image: url('/backArrow.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 26px 0px 0px 16px;
  float: left;
}

.inputField, .inputCode {
  box-sizing: border-box;
  background: #F3F5F7;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:focus {
    outline: none;
  }
}

.inputField {
  width: 310.95px;
  height: 49.67px;
  padding: 12.8328px 19.7428px;
}

.inputCode {
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  padding: 0px 10px 5px;
  font-size: large;
  text-align: center;
}

.input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  border: none;
  // border-radius: none;
  background-color: inherit;
  &:focus {
    outline: inherit;
  }
  &[type = 'text'] + button {
    background-image: url('/eye-off.svg');
  }
}

.digits {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.small {
  all: unset;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #242424;
  & a {
    color: #2E5CD3;
  }
}

.toggleShowPassword {
  all: unset;
  width: 20px;
  height: 20px;
  background-image: url('/eye.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  align-self: center;
}

.popUpContainer {
  backdrop-filter: saturate(100%) blur(2px);
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.popUp {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20%;
  align-items: center;
  width: 70%;
  height: 20%;
  padding: 3%;
  border: 2px solid #242424;
  background-color: white;
  & button {
    width: 80%;
    height: 25%;
  }
}

.x {
  all: unset;
  cursor: pointer;
  background-color: #242424;
  color: white;
  align-self: flex-start;
  min-height: 28px;
  min-width: 28px;
  border-radius: 15px;
  text-align: center;
  background-image: url('/close-button.svg');
  background-position: center;
  background-size: cover;
}

.msg {
  font-size: large;
}