@import '../styles/variables';

.title {
  width: 200px;
  height: 200px;
  background-image: url('/mykoWhite.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topContainer {
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
  height: 10vh;
  box-sizing: border-box;
}

.topSub {
  min-width: 200px;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  all: unset;
  height: 50px;
  width: 130px;
  color: white;
  background: linear-gradient(to right, #242424, #242424) padding-box,
  linear-gradient(to top right, $myko-blue, lightyellow, white) border-box;
  border-radius: 23px;
  border: 1px solid transparent;
  text-align: center;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding: 10%;
  transition: box-shadow 300ms;
  &:hover {
    cursor: pointer;
    box-shadow: $myko-blue 0px 0px 12px 3px;
    transition: box-shadow 300ms;
  }
}