@import '../styles/variables';

.title {
  width: 200px;
  height: 200px;
  background-image: url('/mykoWhite.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topContainer {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vw;
  height: 10vh;
  box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  background: linear-gradient(180deg, rgb(0, 0, 20) 10%, transparent 100%);
}

.topSub {
  min-width: 200px;
  width: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  all: unset;
  box-sizing: border-box;
  height: 7em;
  width: 7em;
  color: white;
  background: linear-gradient(to right, #242424, #242424) padding-box,
  linear-gradient(to top right, $myko-blue, lightyellow, white) border-box;
  border-radius: 23px;
  border: 1px solid transparent;
  text-align: center;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-size: x-large;
  transition: box-shadow 300ms;
  &:hover {
    cursor: pointer;
    box-shadow: whitesmoke 0px 0px 12px 3px;
    transition: box-shadow 300ms;
  }
}