@import '../styles/variables';

.container {
  padding-top: 10vh;
  width: 100%;
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 85vh;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border: 6px solid black;
  border-radius: 40px;
  background-color: white;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  width: 375px;
  height: 750px;
  box-shadow: 0px 0px 10px 0px black;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .main {
    border: none;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    z-index: 999;
    border-radius: 0;
  }

  .container {
    all: unset;
  }
}