@font-face {
  font-family: 'CircularSTD';
  src: url('../fonts/circular-std-medium-500.ttf');
}

@font-face {
  font-family: 'HalvarBreit';
  src: url('../fonts/HalvarBreit-BD.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf');
}

$myko-blue: #ACF2FA;