@import './variables.scss';

body {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background {
  height: 100%;
  width: 100%;
  background: linear-gradient(170deg, rgb(0, 0, 30, 0.8) 10%, rgba(173, 216, 230, 0.8) 35%, rgba(173, 216, 230, 0.7) 40%, rgba(173, 216, 230, 0.9) 45%, rgba(0, 0, 30, 0.8) 95%),
  url('/noise.svg');
  // background-image: url('/noise.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.splash {
  font-family: HalvarBreit, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0px auto;
  padding: 2% 0;
  align-items: center;
}

.landing-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  position: relative;

  & .main {
    font-size: 50px;
    margin: 5% 0;
  }

  & .sub {
    font-size: 25px;
  }
}

#landing-phone {
  position: relative;
  top: 5vh;
  width: 30vw;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

.entrance-container {
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  width: 80%;

}

a {
  all: unset;
  cursor: pointer;
}

.rainbow-btn {
  color: black;
  text-decoration: none;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 360px;
  height: 100px;
  background-image: url('/rainbowButton.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: box-shadow 300ms;

  &:hover {
    transition: box-shadow 300ms;
    box-shadow: rgb(131, 152, 170) 0px 0px 12px 3px;
  }
}

#artist-gallery {
  margin: 2%;
  display: flex;
  width: 60%;
  height: 30vh;
  box-sizing: content-box;
  border: 2px solid white;
  border-radius: 25px;
  overflow: hidden;
  & img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    &:hover {
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
    }
  }
}