@import './variables.scss';

body {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background {
  height: 100%;
  width: 100%;
  background-image: url('/landingBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.splash {
  font-family: HalvarBreit, Arial, Helvetica, sans-serif;
  color: $myko-blue;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0px auto;
  padding: 5% 0;
  align-items: center;
}

.landing-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  position: relative;
  bottom: 10vh;

  & .main {
    font-size: 50px;
    margin: 5% 0;
  }

  & .sub {
    font-size: 25px;
  }
}

#landing-phone {
  width: 80%;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

.entrance-container {
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  width: 80%;

}

a {
  all: unset;
  cursor: pointer;
}

.rainbow-btn {
  color: black;
  text-decoration: none;
  font-family: CircularSTD, Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 18cqmax;
  height: 5cqmax;
  background-image: url('/rainbowButton.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: box-shadow 300ms;

  &:hover {
    transition: box-shadow 300ms;
    box-shadow: $myko-blue 0px 0px 12px 3px;
  }
}